.block{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    display: flex;
    align-items: center;
    justify-content: center;

}